@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth !important;
	--scroll-behavior: smooth !important;
	font-size: 62.5%;
}
