@media screen and (max-width: 991px) {
	.section-home {
		height: 100vh;
		padding: 0;

		.content {
			position: relative;
			top: 10rem;
			left: 0;
			max-width: 100%;
			margin: 8.5rem auto;
			text-align: center;

			.title-home {
				margin: 10rem 0 2.5rem;
				color: #333;
				font-size: 2rem;

				span {
					color: #fafafa;
					font-weight: bold;
					text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
				}
			}

			.text-home {
				display: none;
			}
		}

		.card {
			position: relative;
			top: 0;
			left: 0;
		}
	}
}


