@media screen and (max-width: 991px) {
	.header {
		position: fixed !important;
		top: 0;
		left: 0;
		width: 100%;
		transition: all 0.3s ease;
		z-index: 99;
		-webkit-transition: all 0.3s ease;

		.nav {
			position: absolute;
			flex-flow: column;
			width: 100%;
			max-height: 0;
			top: 100%;
			left: 0;
			text-align: center;
			border-bottom: 0.2rem rgba(0, 0, 0, 0.1);
			background-color: #fff;
			box-shadow: 0 0.5rem 1rem #f9f9f9;
			overflow: hidden;
			transition: max-height 0.4s ease-in-out;

			

			&.nav-active {
				max-height: 500px;
			}

			.nav-link {
				position: relative;
				display: none;

				&:hover::after {
					position: absolute;
					content: '';
					display: block;
					left: 50%;
					width: 20%;
					height: 0.2rem;
					margin: 0 auto;
					background: $btn;
					transform: translateX(-50%);
					transition: all 0.4s ease-in-out;
				}
			}

			&.nav-active .nav-link {
				display: block;
			}

			a {
				margin: 1rem 0;
				font-size: 1.5rem;
			}
		}

		.link-btn {
			display: none;
		}
	}

	.menu-mobile {
		display: block !important;
	}
}
